<div class="top1">
  <h2>ようこそBookersへ！</h2>
  <div class="top2"><p><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p></div>
  <div class="top2"><P>印象を共有し交換することができます</P></div>

  <div class="top2"><span><%= link_to "start", books_path %></span></div>

</div>